-[:notice, :error, :success].each do |key|
	-unless flash[key].blank?
		%p{ :class => "flash #{key}" }= flash[key]

%h1#myheading Add Case

=form_tag cases_path do
	%br
	=label :case, :day_called, 'Day called'
	%br
	=date_select :case, :day_called
	%br
	%br
	=label :case, :time_called, 'Time called'
	%br
	=text_field :case, :time_called
	%br
	%br
	=label :case, :day_resolved, 'Day resolved'
	%br
	=text_field :case, :day_resolved
	%br
	%br
	=label :case, :time_resolved, 'Time resolved'
	%br
	=text_field :case, :time_resolved
	%br
	%br
	=label :case, :patient, 'Patient name'
	%br
	=text_field :case, :patient
	%br
	%br
	=label :case, :mfr, 'Attending MFR'
	%br
	=text_field :case, :mfr
	%br
	%br
	=label :case, :details, 'Details'
	%br
	=text_field :case, :details
	%br
	%br
	=submit_tag 'Submit Report'