%h1 HERE
%table#movies
	%thead
		%tr
      
	%tbody
		-	@q.each do |mfrs|
			%tr
				%td=mfrs.at(0).name
				%td=mfrs.at(0).phoneno
				%td=mfrs.at(0).rollno
				%td=mfrs.at(0).gender
				%td=mfrs.at(1)
