-[:notice, :error, :success].each do |key|
	-unless flash[key].blank?
		%p{ :class => "flash #{key}" }= flash[key]

%div.mybutt
	%p#myimageholder 
		=image_tag "EMS Logo.png", :id => "myimage"
		
	%h1#myheading EMSTracker

	%table{:border => 10}
		%tbody
			%tr#mytablerow
				%td= link_to 'Login', login_path, :id => "mylink"
			%br
			%tr
			%tr
			%tr#mytablerow 
				%td=link_to 'Signup', signup_path , :id => "mylink"
