%div.mybutt
	%p#myimageholder 
		=image_tag "EMS Logo.png", :id => "myimage"
		
	%h1#myheading EMSTracker

	%table{:border => 20}
		%tbody
			%tr 
				%td#mytablerow= link_to 'Login', login_path, :id => "mylink"
			%tr 
				%td#mytablerow=link_to 'Signup', signup_path , :id => "mylink"
