-[:notice, :error, :success].each do |key|
	-unless flash[key].blank?
		%p{ :class => "flash #{key}" }= flash[key]

=form_tag get_help_path, :method => :POST do
	=hidden_field_tag 'my_id', current_user.id

-if !is_mfr?
	%div.mybutt
		%h1#myheading Home Page

		%table{:border => 10, :class => "mytable"}
			#myimageholder
				=form_tag get_help_path ,:method => :POST do
					=hidden_field_tag 'gps_latitude'
					=hidden_field_tag 'gps_longitude'
					=image_submit_tag "help.jpg", :id => "myimage2"
			%tbody
				%tr#mytablerow 
					%td#mytablecol=link_to "Edit Details", edit_user_path(current_user.id), :id => "mylink"
				%tr
				%tr
				%tr#mytablerow 
					%td#mytablecol=link_to "Log Out", logout_path, :method => :delete, :id => "mylink"

-else
	%div.mybutt
		%h1#myheading Home Page

		%table{:border => 10}
			%tbody
				%tr#mytablerow 
					%td=link_to "Enter new case", new_case_path, :id => "mylink"
				%tr
				%tr
				%tr#mytablerow 
					%td=link_to "Edit details", edit_user_path(current_user.id), :id => "mylink"
				%tr
				%tr
				%tr#mytablerow
					%td=link_to "Log Out", logout_path, :method => :delete, :id => "mylink"
				%tr
				%tr
				%tr#mytablerow
					%td=link_to "Edit Location", new_location_path ,:id => "mylink"
				%tr
				%tr
				%tr#mytablerow
					%td=link_to "Check Kit Availability", kits_path, :id => "mylink"