%h1 Enter Location

=form_tag locations_path do
	=label :location, :user_name, 'Username'
	=text_field :location, :user_name

	=label :location, :gps_latitude, 'Latitude'
	=text_field :location, :gps_longitude

	=label :location, :gps_longitude, 'Longitude'
	=text_field :case, :day_resolved

	=label :location, :location, 'Location'
	=text_field :location, :location

	=submit_tag 'Submit Location'